<h2>Contacto</h2>
<form #formContacto="ngForm" (ngSubmit)="(onSubmit(formContacto))">
  <label for="nombre">Nombre</label>
  <input class="form-control"
    type="text"
    name="nombre"
    id=""
    #nombre="ngModel"
    [(ngModel)]="usuario.nombre"
    required
    pattern="[a-zA-Z]+"
  />
  <span *ngIf="nombre.touched && !nombre.valid">El nombre es obligatorio</span>
  <br />

  <label for="apellidos">Apellidos</label>
  <input class="form-control"
    type="text"
    name="apellidos"
    id=""
    #apellidos="ngModel"
    [(ngModel)]="usuario.apellidos"
    required
    pattern="[a-zA-Z]+"
  />
  <span *ngIf="apellidos.touched && !apellidos.valid">Los apellidos son obligatorios</span>
  <br />

  <label for="email">Email</label>
  <input class="form-control"
    type="email"
    name="email"
    id=""
    #email="ngModel"
    [(ngModel)]="usuario.email"
    required
  />
  <span *ngIf="email.touched && !email.valid">El email es obligatorio</span>
  <br />

  <label for="mensaje">Mensaje</label>
  <textarea
    name="mensaje"
    id=""
    cols="30"
    rows="10"
    #mensaje="ngModel"
    [(ngModel)]="usuario.mensaje"
    required
  ></textarea>
  <span *ngIf="mensaje.touched && !mensaje.valid">El mensaje es obligatorio</span>
  <br />

  <input type="submit" value="Enviar" [disabled]="!formContacto.form.valid"/>
</form>

<select multiple="multiple" id="my-select" name="my-select[]">
  <option value='elem_1'>elem 1</option>
  <option value='elem_2'>elem 2</option>
  <option value='elem_3'>elem 3</option>
  <option value='elem_4'>elem 4</option>
  ...
  <option value='elem_100'>elem 100</option>
</select>
