<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>{{title}}</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let zapatilla of zapatillas">
          {{zapatilla.nombre}} - <strong>{{zapatilla.precio}}</strong>
          <span class="p-3 my-1" *ngIf="zapatilla.precio<=80"
            [style.background]="zapatilla.precio<=80?'green':'transparent'"
            [style.color]="zapatilla.precio<=80?'white':'black'">
            Oferta!
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
