<p>
  <button type="button" class="btn waves-effect waves-light blue" (click)="rerender()">
    Rerender
  </button>
</p>
<hr>
<h3>Pokemones</h3>
<div>
  <ul *ngFor="let pokemon of pokemons">
    <li>{{pokemon.id}}</li>
    <li>{{ pokemon.name }}</li>
  </ul>
</div>

<hr>
<div class="admin-form">
  <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" class="mdl-data-table" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons">
        <td>{{ pokemon.id }}</td>
        <td>{{ pokemon.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<h2>Humanos</h2>
<div class="admin-form">
  <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger2" class="mdl-data-table" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let humano of humanos">
        <td>{{ humano.id }}</td>
        <td>{{ humano.first_name }}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<h2>Humanos2</h2>
<div class="admin-form">
  <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger2" class="mdl-data-table" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let humano of humanos">
        <td>{{ humano.id }}</td>
        <td>{{ humano.first_name }}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<h3>Pokemones</h3>
<div class="admin-form">
  <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" class="mdl-data-table" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons">
        <td>{{ pokemon.id }}</td>
        <td>{{ pokemon.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
