<hr />
<input
  type="text"
  [(ngModel)]="userId"
  (keyup)="cargaUsuario()"
  name=""
  id=""
/>
<div *ngIf="user">
  <img [src]="user.avatar" alt="Imagen de usuario" width="200" />
  <h2>{{ user.first_name }} {{ user.last_name }}</h2>
</div>
<div class="cargar" [class.visible]="!user">
  Cargando...
</div>

<hr />
<h2>Crear usuario</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
  <p>
    <label for="name">Nombre</label>
    <input
      type="text"
      name="name"
      #name="ngModel"
      [(ngModel)]="new_user.name"
    />
    <span *ngIf="name.touched && !name.valid">El nombre no es valido</span>
  </p>
  <p>
    <label for="job">Trabajo</label>
    <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" />
    <span *ngIf="job.touched && !job.valid">El trabajo no es valido</span>
  </p>

  <input
    type="submit"
    value="Guardar usuario"
    [disabled]="!newUser.form.valid"
  />
</form>

<div *ngIf="usuario_guardado">
  <h2>El usuario se ha guardado correctamente</h2>
  <h3>{{ usuario_guardado.name }}</h3>
</div>
<div *ngIf="usuario_guardado">
  <h3>{{ usuario_guardado.job }}</h3>
</div>

<hr />

<!-- Ejemplos de pipes para las fechas -->
<!-- Formato: fecha completa -->
{{ fecha | date: "FullDate" }}

<!-- Formato: personalizado -->
{{ fecha | date: "dd/MM/yyyy" }}

<!-- Ejemplos de pipes converti minusculas a mayusculas-->
<!-- Formato: personalizado -->
{{ fecha | date: "dd/MM/yyyy" | uppercase }}
{{ "hola que hace" | uppercase }}
{{ "hola que hace" | lowercase }}

<!-- Ejemplos de pipes personalizados -->
