@import "~@ng-select/ng-select/themes/material.theme.css";
hola{
    background-color: cornflowerblue;
}
@import "~bootstrap/dist/css/bootstrap.css";
.altoPrecio{
    color: gray;
    font-size: 28px;
}

.fondoRojo{
    background-color: red;
}

.subrayado{
    text-decoration: underline;
}

.active{
    border: 3px solid yellow;
}
